/*Обнуление*/
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    background: #e1ede6;
}


.header__content {
    display: flex;
    width: 79.86%;
    margin: 0 auto;
    justify-content: space-between;
    height: 100px;
    padding: 0 20px;
}

@media (max-width: 992px) {
    .header__content {
        width: 95.05%;
    }
}

@media (max-width: 767px) {
    .header__content {
        flex-direction: column;
        height: 123px;
        width: 95.48%;
        align-items: center;
        padding: 16px 20px;
    }
}


.first_page { 
margin: 40px 70px 70px 40px;
}
.logo {
    display: flex;
    align-items: center;
}

.logo__icon {
    width: 35px;
    height: 35px;
}


.logo__text {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #598d66;
    flex-shrink: 0;
}

@media (max-width:767px) {
    .header__logo {
        width: 100%;
        border-bottom: 1px solid #c3d1c6;
        padding: 0 0 16px 0;
        justify-content: center;
    }
}

.registration-form-container {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    margin-left: 30%;
    margin-top: 100px;
}
.counters{
    display: none;
}
.registration-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}

.registration-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #555;
}

.registration-form input[type="text"],
.registration-form input[type="email"],
.registration-form input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.registration-form input[type="text"]:focus,
.registration-form input[type="email"]:focus,
.registration-form input[type="password"]:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.registration-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.registration-form button:hover {
    background-color: #2980b9;
}

@media (max-width: 600px) {
    .registration-form-container {
        width: 90%;
    }
}

.header__menu {
    display: flex;
    align-items: center;
    width: 42.34%;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .header__menu {
        width: 61.09%;
    }
}

@media (max-width: 767px) {
    .header__menu {
        width: 100%;
    }
}


.header__link {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}

@media (max-width: 992px) {
    .header__link {
        font-size: 18px;
    }
}


.header__link-img {
    width: 24px;
    height: 24px;
}


.main {
    flex: 1 1 auto;
}


.content {
    width: 79.86%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .content {
        width: 95.05%;
    }
}

@media (max-width: 767px) {
    .content {
        width: 95.48%;
    }
}



.welcome-block {
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin: 0 0 70px 0;
}

.welcome-block__body {
    display: flex;
    flex-direction: column;
}


.welcome-block__title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 60px;
    line-height: 110%;
    color: #2c2d35;
}

@media (max-width: 992px) {
    .welcome-block__title {
        font-size: 40px;
        line-height: 100%;
    }
}

@media (max-width: 767px) {
    .welcome-block__title {
        font-size: 36px;
    }
}



.welcome-block__about {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
    padding: 20px 0 60px 0;
}

@media (max-width: 992px) {
    .welcome-block__about {
        padding: 20px 0 40px 0;
    }
}

@media (max-width: 767px) {
    .welcome-block__about {
        padding: 10px 0 11px 0;
        font-size: 16px;
    }
}



.welcome-block__button {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
    border: 1px solid #598d66;
    width: 227px;
    height: 65px;
    text-align: center;
}

@media (max-width: 992px) {
    .welcome-block__button {
        width: 210px;
        height: 60px;
    }
}

@media (max-width: 767px) {
    .welcome-block__button {
        width: 178px;
        height: 50px;
        font-size: 18px;
    }
}


.shop-menu {
    display: flex;
    padding: 0 0 30px 0;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .shop-menu {
        padding: 0 0 20px 0;
        flex-wrap: wrap;
    }
}


.shop-menu__buttons {
    display: flex;
    width: 38.56%;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .shop-menu__buttons {
        width: 62.75%;
    }
}

@media (max-width: 767px) {
    .shop-menu__buttons {
        width: 80%;
    }
}


.shop-menu__name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 110%;
    color: #2c2d35;
}

@media (max-width: 767px) {
    .shop-menu__name {
        flex-basis: 100%;
    }
}


.shop-menu__button {
    border-radius: 20px;
    padding: 10px 20px;
    width: 135px;
    height: 43px;
    background: #d4e8d9;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}

@media (max-width: 767px) {
    .shop-menu__button {
        width: 101px;
        height: 41px;
        font-size: 18px;
        padding: 10px 10px;
    }
}


.shop-menu__button:active {
    background: #376b44;
    color: #f4f6f5;
}

.showcase {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    margin: 0 0 50px 0;
}


.picture-card {
    padding: 20px;
    flex: 0 1 calc(33.33% - 30px);
    background: #e1ede6;
    display: flex;
    flex-direction: column;
}

@media (max-width: 992px) {
    .picture-card {
        flex: 0 1 calc(50% - 30px);
    }
}


.card-image {
    width: 100%;
}


.picture-card__author {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #86928b;
    padding: 20px 0 10px 0;
}

@media (max-width: 767px) {
    .picture-card__author {
        font-size: 16px;
        padding: 15px 0 10px 0;
    }
}


.picture-card__name {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #2c2d35;
}

@media (max-width: 767px) {
    .picture-card__name {
        font-size: 24px;
    }
}


.picture-card__about {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #2c2d35;
    padding: 8px 0 0 0;
    margin: 0 0 auto 0;
}

@media (max-width: 767px) {
    .picture-card__about {
        font-size: 16px;
        padding: 10px 0 0 0;
    }
}


.picture-card__price {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #598d66;
    padding: 0 0 20px 0;
}

@media (max-width: 767px) {
    .picture-card__price {
        font-size: 20px;
        padding: 0 0 10px 0;
    }
}


.picture-card__button {
    border: 1px solid #598d66;
    background: #e1ede6;
    text-align: center;
    width: 100%;
    height: 65px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #598d66;
}

@media (max-width: 767px) {
    .picture-card__button {
        font-size: 18px;
        height: 50px;
    }
}

.news-block {
    position: relative;
}

.news-block__image {
    width: 100%;
    z-index: -5;
    position: absolute;
}

.news-image {
    width: 100%;
}


.news-title {
    display: flex;
    align-items: center;
    padding: 50px 0 0 0;
    width: 70%;
}

@media (max-width: 992px) {
    .news-title {
        width: 65%;
    }
}

@media (max-width: 767px) {
    .news-title {
        padding: 50px 0 0 0;
    }
}


.news-title__logo {
    width: 80px;
    height: 80px;
}

@media (max-width: 992px) {
    .news-title__logo {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 767px) {
    .news-title__logo {
        width: 50px;
        height: 50px;
    }
}


.news-title__text {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    color: #f4f6f5;
    padding: 0 0 0 10px;
}

@media (max-width: 992px) {
    .news-title__text {
        font-size: 30px;
    }
}

@media (max-width: 767px) {
    .news-title__text {
        font-size: 24px;
    }
}


.news-block__text {
    width: 95%;
}


.news-block__paragraph {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #fff;
    padding: 20px 0 0 0;
}

@media (max-width: 767px) {
    .news-block__paragraph {
        font-size: 16px;
        line-height: 140%;
    }
}


.news-block__button {
    background: #eedb6d;
    text-align: center;
    width: 257px;
    height: 65px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
    margin: 20px 0 270px 0;
}

@media (max-width: 1270px){
    .news-block__button {
        margin: 30px 0 160px 0;
    }
}
@media (max-width: 992px) {
    .news-block__button {
        width: 210px;
        height: 60px;
        margin: 30px 0 270px 0;
    }
}

@media (max-width: 767px) {
    .news-title__button {
        width: 190px;
        height: 50px;
        font-size: 18px;
        margin: 20px 0 250px 0;
    }
}


.our-team {
    display: flex;
    margin: 0 0 50px 0;
    align-items: center;
}
@media (max-width: 992px) {
    .our-team {
        flex-direction: column;
    }
}


.our-team__body {
    display: flex;
    flex-direction: column;
    padding: 0 0 0 30px;
}
@media (max-width: 992px) {
    .our-team__body {
        padding: 0;
    }
}


.our-team__title {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #2c2d35;
}

.our-team__text {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #2c2d35;
    padding: 20px 0 20px 0;
}

.our-team__team-images {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.footer {
    background: #e1ede6;
    flex-shrink: 0;
}

.footer__content {
    display: flex;
    width: 77%;
    height: 168px;
    margin: 0 auto;
    padding: 20px 0;
    justify-content: space-between;
}


@media (max-width: 992px) {
    .footer__content {
        height: 250px;
        flex-wrap: wrap;
        row-gap: 30px;
    }
}

@media (max-width: 767px) {
    .footer__content {
        height: 319px;
        row-gap: 14px;
    }
}


.footer-link {
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #86928b;
}

@media (max-width: 767px) {
    .footer-link {
        font-size: 16px;
    }
}


.footer-text {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #2c2d35;
}


.footer__company-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .footer__company-block {
        flex-direction: row;
        flex-basis: 100%;
        align-items: center;
    }
}


.contacts__text {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #86928b;
    padding: 8px 0 0 0;
}


.footer__link-block {
    display: flex;
    width: 40.09%;
    column-gap: 60px;
    padding: 0 60px 0 0;
}

@media (max-width: 992px) {
    .footer__link-block {
        width: 64.5%;
    }
}

@media (max-width: 767px) {
    .footer__link-block {
        flex-basis: 100%;
        column-gap: 0;
        justify-content: space-between;
        border-bottom: 1px solid #c3d1c6;
        padding: 16px 0 16px 0;
    }
}


.reproductions {
    display: flex;
    flex-direction: column;
}

.reproductions a {
    padding: 6px 0 0 0;
}

.about-us {
    display: flex;
    flex-direction: column;
}

.about-us a {
    padding: 6px 0 0 0;
}

.new-product {
    display: flex;
    flex-direction: column;
}

.new-product a {
    padding: 6px 0 0 0;
}


.social {
    display: flex;
    flex-direction: column;
    width: 132px;
    height: 68px;
}

@media (max-width: 767px) {
    .social {
        align-self: center;
    }
}


.social__images {
    display: flex;
    justify-content: space-between;
    padding: 0 0 4px 0;
}

.social__text {
    padding: 6px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    color: #86928b;
}